body{
	background: url(../imagenes/fondo1.png);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center;
}


.titulo{
	color: #1F618D;
}

.opcion{
	width: 200px;
}

.boton{
	background-color: #2E86C1;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
	color: white;
	font-size: 15px;
	margin: 20px;
}

.opcion{
	width: 260px;	
}

.selec{
	font-weight: bold;
	font-size: 20px;
}