.bien{
	width: 50%;
	text-align : justify;
}


.imbien{
	position: absolute;
	bottom: 810px;
	left: 610px;
	border-radius: 10%;
}


.voluntariado{
	position: absolute;
	bottom:580px;
	left: 450px;
	width: 50%;
	text-align : justify;
}

.imvoluntario{
	border-radius: 10%;
}

.evento{
	width: 50%;
	text-align : justify;
}

.imevento{
	position: absolute;
	bottom: 290px;
	left: 610px;
	border-radius: 10%;
}

.dinero{
	position: absolute;
	bottom: 70px;
	left: 450px;
	width: 50%;
	text-align : justify;
}

.imdinero{
	border-radius: 10%;
}

body{
	background: url(../imagenes/fondo1.png);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center;
}

.titulo{
	color: #1F618D;
}

.subtitulo{
	color: #2E86C1;
}