body{
	background: url(../imagenes/fondo1.png);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center;
}

thead{
	background: #B2BABB  ;
	text-align: center;
}

.titulo{
	color: #1F618D;
}

.subtitulo{
	color: #2E86C1;
}


